@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --background-color: #00030C;
    --title-color: #FFFFFF;
    --text-color: #F9F9F9;
    --footer-text-color: #C0C0C0;
    --button-color: #167BF7;

    --main-font: "Inter", sans-serif;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: var(--main-font);
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.main-section {
    background-image: url(../images/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    
}

.main-box {
    margin: 0 6rem;
}

.main-text {
    color: var(--title-color);
    font-size: 1.75rem;
    font-weight: 600;   
}

.buttons-section {
    gap: 10px;
}

.img-combo {
    margin: 54px 0 38px 0;
}

.main-buttons {
    background-color: var(--button-color);
    border: 1px var(--button-color) solid;
    color: var(--title-color);
    text-decoration: none;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1rem;
    display: block; 
    
}

.main-buttons:hover {
    background-color: transparent;
    transition: .8s;
}

.secondary-button {
    background-color: transparent;
    border: 1px var(--title-color) solid;
    margin: 16px 0px 10px 0px;
}

.secondary-button:hover {
    background-color: var(--button-color);
    transition: .8s;
}

.language-section-button {
    display: inline-block;
    margin-top: 1rem;
    background-color: var(--button-color);
    color: var(--title-color);
    padding: 1rem;
    border-radius: .5rem;
    text-decoration: none;
    border: 1px var(--button-color) solid;
}

.language-section-button:hover {
    background-color: transparent;
    transition: .8s;
}

.margin-content {
    margin: 0 10rem 0 20rem;
}

.other-img {
    width: 90%;
    transition: 1s;
}

.other-img:hover {
    width: 85%;
    transition: 1s;
}

.titles {
    color: var(--title-color);
    font-size: 3rem;
    margin-bottom: .5rem;
}

.paragraph {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 200;
    max-width: 588px;
}

.devices-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
}

.flex-img {
    display: flex;
    margin-top: 1.8rem;
}

.flex-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.titles-img {
    color: var(--title-color);
    font-size: 2rem;
}


.footer-content {
    text-align: center;
    display: grid;
    gap: 1.5rem;
    margin-bottom: 5rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links {
    display: flex;
    justify-content: center;
}

.links a {
    text-decoration: none;
    margin-right: 1rem;
    color: var(--title-color);
}

.links a:hover {
    text-decoration: underline;
    color: var(--button-color);
    transition: .3s;
}

.footer-text {
    color: var(--footer-text-color);
    font-size: .8rem;
}